.cardContainer{
  color: #dddddd;
  width: 80rem;
  height: 53rem;
  margin-left: 15%;
  margin-top: -2rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: rgba(39, 51, 20, 0.4);
  box-shadow: inset 8px 8px 24px 0px rgba(39, 51, 20, 0.7);
}

/* .detailCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 600px;
    margin: auto;
    margin-top: -4rem;
    padding: 10px;
    animation-name: detailCard;
    animation-duration: 1s;
    animation-fill-mode: both;
    box-shadow: 5px 5px 15px 5px #FF8080, 
                -9px 5px 15px 5px #FFE488, 
                -7px -5px 15px 5px #8CFF85, 
                12px -5px 15px 5px #80C7FF, 
                12px 10px 15px 7px #E488FF, 
                -10px 10px 15px 7px #FF616B, 
                -10px -7px 27px 1px #8E5CFF, 
                5px 5px 15px 5px rgba(0,0,0,0);
    text-decoration: none;
    background:
    radial-gradient(
      110.35% 80.79% at 6% 103.92%,
      rgba(37, 169, 239, 1) 0%,
      rgba(37, 169, 239, 0) 100%
    ),
    linear-gradient(
      169.3deg,
      rgba(205, 249, 232, 1) 15%,
      rgba(205, 249, 232, 0) 46%
    ),
    radial-gradient(
      123% 73% at 107% 96%,
      rgba(255, 253, 177, 1) 20%,
      rgba(254, 228, 191, 1) 60%,
      rgba(240, 189, 208, 1) 75%,
      rgba(255, 129, 38, 0) 100%
    ),
    linear-gradient(
      0deg,
      rgba(0, 204, 131, 1) 0%,
      rgba(0, 204, 131, 1) 100%
    );
} */

/* .detailCard:hover{
    background: #D0EDFF;
    background: radial-gradient(ellipse at center, #D0EDFF,  #fcf67c);
    /* background-image: url("../../img/universe.gif");
    background-size: cover; 
} */

.details {
  background-image: url("../../img/backgroundImage1.png");
  height: 100vh;
}

.idName {
  display: flex;
  flex-direction: row-reverse;
  font-size: xx-large;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: -2rem;
  justify-content: space-between;
  align-items: baseline;
  opacity: 0.9;
}

.imgTypes {
  margin-top: -8rem;
  font-size: 1.4rem;
  opacity: 0.95;
}

.dataPoke {
  display: flex;
  flex-direction: column;
  align-items:flex-end;
  padding: 2rem;
  width: 13rem;
  margin-top: -32rem;
  font-size: 2rem;
  font-weight: 600;
  margin-left: 59rem;
  margin-right: 6rem;
  border-radius: 1rem;
  opacity: 0.8;
  backdrop-filter: blur(0.4rem) grayscale(35%);
}

.loading{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -8rem;
    height: 100vh;
    color: #dddddd;
}

/* .loading img {
  width: 10rem;
} */

.backBtn {
  display: flex;
	flex-direction: column;
	align-items: center;
	justify-content:center;
	text-decoration:none;
	text-shadow:0px 1px 0px #e3e3e3;    
  margin-left: 80%;
  margin-top: -9rem;
	width: 8rem;
	height:8rem;
	background-color:#C1C3BC90;
	box-shadow:inset 0px 0px 14px -3px #f2fadc;
	border-radius: 50%;
	border:1px solid #b2b8ad;
	cursor:pointer;
	color:#273314;
	font-family:Arial;
	font-size: 1rem;
	font-weight:bold;
	padding: 0.5rem;
}
.backBtn:hover {
	background:linear-gradient(to bottom, rgba(156, 169, 147, 0.2) 5%, rgba(219, 230, 196, 0.2) 100%);
	background-color:rgba(155, 168, 146, 0.2);
}
.backBtn:active {
	position:relative;
	top:1px;
}

.removeBtn {
  display: flex;
	flex-direction: column;
	align-items: center;
	justify-content:center;
	text-decoration:none;
	text-shadow:0px 1px 0px #e3e3e3;    
  margin-left: 8%;
  margin-top: 6rem;
	width: 9rem;
	height: 9rem;
	background-color:#C1C3BC90;
	box-shadow:inset 0px 0px 14px -3px #f2fadc;
	border-radius: 50%;
	border:1px solid #b2b8ad;
	cursor:pointer;
	color:#273314;
	font-family:Arial;
	font-size: 1rem;
	font-weight:bold;
	padding: 0.5rem;
}
.removeBtn:hover {
	background:linear-gradient(to bottom, rgba(156, 169, 147, 0.2) 5%, rgba(219, 230, 196, 0.2) 100%);
	background-color:rgba(155, 168, 146, 0.2);
}
.removeBtn:active {
	position:relative;
	top:1px;
}

@-webkit-keyframes detailCard {
  0% {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes detailCard {
  0% {
    opacity: 0;
    transform: translate3d(-2000px, 0, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
} 

.detailCard img {
  width: 40rem;
  height: 40rem;
  object-fit: cover;
  animation-name: pulse;
  animation-duration: 4s;
  animation-fill-mode: both;
  animation-timing-function: ease-in;
  animation-iteration-count:infinite;
}

@keyframes pulse { 
  0% { transform: scale(1); } 
  25% { transform: scale(1.05); } 
  50% { transform: scale(1.03); }
  60% { transform: scale(1.07); }
  100% { transform: scale(1); } 
} 